---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import astroConfig from "../../astro.config.mjs";

export const getStaticPaths = (async () => {
  const blogsPromise = await fetch(
    `https://gold-toad-177179.hostingersite.com/wp-json/wp/v2/posts`,
  );
  const blogsJson = await blogsPromise.json();
  console.log("blogs", blogsJson);
  const paths = await Promise.all(
    blogsJson.map(async (blog: any) => {
      if (blog.featured_media != null) {
        const featuredImagePromise = await fetch(
          `https://gold-toad-177179.hostingersite.com/wp-json/wp/v2/media/${blog.featured_media}`,
        );
        const featuredImageJson = await featuredImagePromise.json();
        console.log(featuredImageJson.guid?.rendered);
        if (featuredImageJson) {
          blog["image_url"] = featuredImageJson.guid?.rendered;
        }
      }

      return {
        params: { slug: blog.slug },
        props: {
          title: blog.title.rendered,
          content: blog.content.rendered,
          image_url: blog.image_url,
          date_published: blog.date,
          instructions: blog.acf.instructions,
          ingredients: blog.acf.ingredients,
          prep_time: blog.acf.prep_time,
          cook_time: blog.acf.cook_time,
        },
      };
    }),
  );
  console.log("paths", paths);
  return paths.filter((path) => path.props.image_url != null);
}) satisfies GetStaticPaths;

const {
  title,
  content,
  image_url,
  date_published,
  instructions,
  ingredients,
  prep_time,
  cook_time,
} = Astro.props;
---

<script>
  function print() {
    window.print();
  }
</script>

<style>
  @media print {
    body *,
    html {
      visibility: hidden;
    }
    .printable-area,
    .printable-area * {
      visibility: visible;
    }

    /* Move the printable section to the top-left of the physical page */
    .printable-area {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
</style>

<Layout>
  <main class="flex flex-col items-center">
    <div class="container mx-auto">
      <article class="w-full" itemscope itemtype="https://schema.org/Article">
        <h1
          id="title"
          class="title text-center text-4xl my-3"
          itemprop="headline"
          set:html={title}
        />
        <div id="thumbnail" class="flex justify-center">
          <Image
            fetchpriority="high"
            src={image_url}
            alt={title + " thumbnail"}
            class="shadow rounded max-w-full h-auto"
            itemprop="image"
            height="500"
            width="500"
          />
        </div>

        <div class="flex justify-center my-2">
          <button
            class="hover:cursor-pointer rounded-lg bg-[#E4B52E] font-semibold"
          >
            <a
              href="#recipe"
              class="flex gap-1 items-center text-[#6E3E6F] title p-2"
              >Jump To Recipe <svg
                fill="#6E3E6F"
                xmlns="http://www.w3.org/2000/svg"
                width="15px"
                height="15px"
                viewBox="0 0 52 52"
                enable-background="new 0 0 52 52"
                xml:space="preserve"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <path
                      d="M40.6,30.4L27.1,44c-0.6,0.6-1.6,0.6-2.2,0L11.4,30.4c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2 c0.6-0.6,1.6-0.6,2.2,0l9.1,9.4c0.6,0.6,1.6,0.6,2.2,0l9.1-9.3c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2C41.1,28.9,41.1,29.8,40.6,30.4z"
                    >
                    </path>
                    <path
                      d="M40.6,12.3L27.1,26.1c-0.6,0.6-1.6,0.6-2.2,0L11.4,12.3c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2 c0.6-0.6,1.6-0.6,2.2,0l9.1,9.4c0.6,0.6,1.6,0.6,2.2,0L36.2,8c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2C41.1,10.8,41.1,11.8,40.6,12.3z"
                    >
                    </path>
                  </g>
                </g>
              </svg>
            </a>
          </button>
        </div>

        <!-- <meta itemprop="datePublished" content={date}> -->
        <meta
          itemprop="image"
          content="https://mailan-home-bakery.onrender.com/api/getThumbnail/{{ .ID }}"
        />

        <div id="body" class="flex flex-col items-center gap-3 p-2">
          <div class="w-full m-0 p-10 prose prose-lg" itemprop="articleBody">
            <Fragment set:html={content} />
          </div>
          <div
            id="recipe"
            class="w-full printable-area rounded shadow border flex flex-col border-gray-300"
          >
            <div class="bg-[#E4B52E] rounded-t p-2 flex flex-col gap-2">
              <span
                class="text-2xl font-semibold text-[#2C1A0E]"
                set:html={title}
              />
              <div class="flex items-center gap-4">
                <div class="flex items-center gap-1">
                  <svg
                    width="15px"
                    height="15px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <path
                        d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g></svg
                  >
                  <span class="text-[#2C1A0E]"> Prep</span>
                  <span
                    class="text-[#2C1A0E] font-semibold"
                    set:html={prep_time}
                  />
                </div>
                <div class="flex items-center gap-1">
                  <svg
                    width="15px"
                    height="15px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <path
                        d="M16 19.9972C14.8233 20.635 13.4571 21 12 21C7.58172 21 4 17.6439 4 13.504C4 12.3727 4.14916 11.3124 4.40527 10.3284M19.1761 16.8211C19.7036 15.8211 20 14.695 20 13.504C20 9.76257 17.9654 6.83811 16.562 5.44436C16.3017 5.18584 15.8683 5.30006 15.7212 5.63288C14.9742 7.3229 13.4178 9.75607 11.4286 9.75607C10.1975 9.92086 8.31688 8.86844 9.83483 3.64868C9.97151 3.17868 9.46972 2.80113 9.08645 3.11539C8.09335 3.92966 6.95052 5.1206 6 6.64741"
                        stroke="#1C274C"
                        stroke-width="1.5"
                        stroke-linecap="round"></path>
                    </g></svg
                  >
                  <span class="text-[#2C1A0E]"> Cook</span>
                  <span
                    class="text-[#2C1A0E] font-semibold"
                    set:html={cook_time}
                  />
                </div>
                <button
                  onclick="print()"
                  class="border hover:cursor-pointer text-[#2C1A0E] flex gap-2 items-center  font-semibold rounded px-3 py-1"
                >
                  <svg
                    width="20px"
                    height="20px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-whiteidth="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <path
                        d="M18 16.75H16C15.8011 16.75 15.6103 16.671 15.4697 16.5303C15.329 16.3897 15.25 16.1989 15.25 16C15.25 15.8011 15.329 15.6103 15.4697 15.4697C15.6103 15.329 15.8011 15.25 16 15.25H18C18.3315 15.25 18.6495 15.1183 18.8839 14.8839C19.1183 14.6495 19.25 14.3315 19.25 14V10C19.25 9.66848 19.1183 9.35054 18.8839 9.11612C18.6495 8.8817 18.3315 8.75 18 8.75H6C5.66848 8.75 5.35054 8.8817 5.11612 9.11612C4.8817 9.35054 4.75 9.66848 4.75 10V14C4.75 14.3315 4.8817 14.6495 5.11612 14.8839C5.35054 15.1183 5.66848 15.25 6 15.25H8C8.19891 15.25 8.38968 15.329 8.53033 15.4697C8.67098 15.6103 8.75 15.8011 8.75 16C8.75 16.1989 8.67098 16.3897 8.53033 16.5303C8.38968 16.671 8.19891 16.75 8 16.75H6C5.27065 16.75 4.57118 16.4603 4.05546 15.9445C3.53973 15.4288 3.25 14.7293 3.25 14V10C3.25 9.27065 3.53973 8.57118 4.05546 8.05546C4.57118 7.53973 5.27065 7.25 6 7.25H18C18.7293 7.25 19.4288 7.53973 19.9445 8.05546C20.4603 8.57118 20.75 9.27065 20.75 10V14C20.75 14.7293 20.4603 15.4288 19.9445 15.9445C19.4288 16.4603 18.7293 16.75 18 16.75Z"
                        fill="black"></path>
                      <path
                        d="M16 8.75C15.8019 8.74741 15.6126 8.66756 15.4725 8.52747C15.3324 8.38737 15.2526 8.19811 15.25 8V4.75H8.75V8C8.75 8.19891 8.67098 8.38968 8.53033 8.53033C8.38968 8.67098 8.19891 8.75 8 8.75C7.80109 8.75 7.61032 8.67098 7.46967 8.53033C7.32902 8.38968 7.25 8.19891 7.25 8V4.5C7.25 4.16848 7.3817 3.85054 7.61612 3.61612C7.85054 3.3817 8.16848 3.25 8.5 3.25H15.5C15.8315 3.25 16.1495 3.3817 16.3839 3.61612C16.6183 3.85054 16.75 4.16848 16.75 4.5V8C16.7474 8.19811 16.6676 8.38737 16.5275 8.52747C16.3874 8.66756 16.1981 8.74741 16 8.75Z"
                        fill="black"></path>
                      <path
                        d="M15.5 20.75H8.5C8.16848 20.75 7.85054 20.6183 7.61612 20.3839C7.3817 20.1495 7.25 19.8315 7.25 19.5V12.5C7.25 12.1685 7.3817 11.8505 7.61612 11.6161C7.85054 11.3817 8.16848 11.25 8.5 11.25H15.5C15.8315 11.25 16.1495 11.3817 16.3839 11.6161C16.6183 11.8505 16.75 12.1685 16.75 12.5V19.5C16.75 19.8315 16.6183 20.1495 16.3839 20.3839C16.1495 20.6183 15.8315 20.75 15.5 20.75ZM8.75 19.25H15.25V12.75H8.75V19.25Z"
                        fill="black"></path>
                    </g></svg
                  >
                  Print
                </button>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2 flex-1">
              <div class="flex flex-col p-2">
                <span class="text-xl font-semibold "
                  >Ingredients</span
                >
                <div class="cms-content prose prose-lg" set:html={ingredients} />
              </div>
              <div class="flex flex-col p-2">
                <span class="text-xl font-semibold ">Instructions</span>
                <div class="cms-content prose prose-lg" set:html={instructions} />
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
</Layout>
<style>

</style>
